.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $maincolore;
        padding: 50px 55px 60px 55px;
    }
    address {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            background: #FFFFFF;
            text-decoration: none;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        /* margin: 36px 125px 56px 123px; */
    }
}