@media (max-width: 991px) {
    .consultation {
        .title {
            font-size: 33px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__phone {
            font-size: inherit;
        }
        &__logo {
            width: 25%;
            img {
                width: 125%;
            }
        }
        &__official {
            span {
                font-size: 17px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 330px;
        }
    }
    .advantage {
        &__header {
            font-size: 25px;
        }
        &__icons {
            width: 100%;
        }
        &__description {
            font-size: 12px;
        }
        &__icon {
            font-size: 16px;
        }
    }
    .consultation {
        .title {
            font-size: 25px;
        }
    }
    .feed-form {
        margin: 36px auto;
    }
}

@media (max-width: 575px) {
    .promo {
        &__header {
            font-size: 30px;
            text-align: end;
        }
        &__subheader {
            font-size: 18px;
            text-align: end;
        }
        &__icons {
            width: 100%;
        }
        &__wrapper {
            margin-top: 70px;
        }
        &__link {
            align-self: center;
        }
        .header {
            flex-direction: column;
            &__logo {
                /*         width: 80%; */
                width: 60%;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            &__official {
                margin-top: 20px;
                font-size: 15px;
                span {
                    font-size: 20px;
                    margin-top: 0px;
                }
            }
            &__contacts {
                margin-top: 30px;
                .button {
                    width: 100%;
                }
            }
        }
        .button {
            width: 90%;
            align-self: center;
        }
    }
    .consultation {
        .title {
            font-size: 20px;
            text-align: center;
        }
        .consultation__descr {
            font-size: 18px;
            text-align: center;
        }
        .feed-form {
            width: 100%;
        }
    }
}