@media (max-width: 821px) {
    .container {
        max-width: 750px;
    }
    .title {
        font-size: 25px;
    }
    .header {
        &__phone {
            margin-right: 20px;
        }
        &__logo {
            width: 25%;
            img {
                width: 90%;
                margin-left: 20px
            }
        }
        &__official {
            span {
                font-size: 17px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 330px;
        }
        &__wrapper {
            margin-right: 20px;
        }
    }
    .advantages {
        &__descr {
            font-size: 12px;
        }
        &__icon {
            font-size: 16px;
        }
    }
    .consultation {
        .title {
            font-size: 25px;
        }
    }
    .carousel {
        padding: 39px 0;
        &__inner {
            width: 70%;
            position: relative;
        }
        img {
            width: 100%;
        }
        .slick-dots {
            text-align: center;
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            button {
                background: #9e9c9a;
                border: none;
                margin: 5px;
                outline: none;
            }
            .slick-active {
                button {
                    background: $main-color;
                }
            }
        }
    }
}